.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}
.claim-txt{
    display: flex;
    
}